.content h1 {
  padding: 0 1rem;
}

ol.pokemon-list { 
  display: grid;
  grid-template-columns: 1fr;
}

.white {
  background-color: #FFF;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  color: #FFF;
  border-radius: 1rem;
  list-style: none;
  transition: 500ms linear; 
}

.pokemon:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.36)) brightness(1.1);
}

.pokemon .number {
  color: #000;
  opacity: .3;
  text-align: right;
  font-size: .625rem;
}

.pokemon .name {
  margin-bottom: .25rem;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.type {
  filter: brightness(1.1);
  color: #FFF;
  padding: .25rem .5rem;
  font-size: .625rem;
  margin: .25rem 0;
  border-radius: 1rem;
  text-align: center;
  list-style: none;
}

.pokemon .detail img {
  max-width: 100%;
  height: 80px;
  align-self: flex-end;
  overflow-y: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  color: #FFF;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 500ms linear;
}

.pagination button:hover {
  transform: scale(1.2);
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.36)) brightness(1.1);
}

@media screen and (min-width: 374.9px) {
  ol.pokemon-list { 
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 575.9px) {
  ol.pokemon-list { 
    grid-template-columns: repeat(3, 1fr);
  }

  .pagination button {
    font-size: .875rem;
    width: 110px;
    height: 30px
  }
}

@media screen and (min-width: 991.9px) {
  ol.pokemon-list { 
    grid-template-columns: repeat(4, 1fr);
  }
}